.comment-box{
  overflow: hidden;/*float解除*/

}

.comment-box p{
  width: 95%;
  margin: 5px auto;
  /* padding: 5px; */
}

.comment-box .comment-img-space{
  float: right;/*画像の位置を右下にしたい場合はright*/
  /* height: 5.3em; */
  height: 3em;/*画像上の余白の高さ*/
}
.comment-box .comment-img{
  float: right;/*画像の位置を右下にしたい場合はright*/
  clear: both;/*.spaceのfloat解除*/
  margin: 0.6em 0.4em 0 1em ;
  /*画像の周りの余白*/
  width: 30%;
}
.comment-box .comment-img img{
  width: 100%;
}