@charset "utf-8";

.profile-box{
  display: flex;
  height: 100%;

}

.my-face-img{
  width: 50%;
}


.img-frame{
  width: 300px;
  position:relative;
}

.img-frame::before{
  content:"";
  display:block;
  width:50px;
  height:35%;
  position:absolute;
  top:-10%;
  left:-10%;
  border-top: 5px solid red;
  border-left: 5px solid red;
}
.img-frame::after{
  content:"";
  display:block;
  width:50px;
  height:35%;
  position:absolute;
  bottom:-10%;
  right:-10%;
  border-bottom: 5px solid red;
  border-right: 5px solid red;
}

.img-frame img{
  width: 100%;
  border-radius: 50%;
}

.profile{
  width: 50%;
  /* height: 80%; */
  border: 1px solid #2C2C2C;
  margin: 10px ;

}

.profile-card{
  height: 30%;
  width: 90%;
  border: 1px solid #2C2C2C;
  margin: 10px auto;
}

.profile-title{
  width: 95%;
  border: 1px solid #2C2C2C;
  margin: 5px auto;
  /* text-align: left; */
  letter-spacing: 5em;
  text-indent: 5em;
  border-top: 5px solid blue;
  border-left: 3px solid blue;
}

.profile-txt{
  width: 96%;
  height: 70%;
  border: #2C2C2C 1px solid;
  font-size: 1.5em;
}

.profile-txt-mini{
  font-size: 1rem;
}